{% extends 'base.html' %}

{% block title %}
    Detail
{% endblock %}


{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>글번호</th>
            <th>작성자</th>
            <th>글 제목</th>
            <th>작성 날짜</th>
            <th>수정하기</th>
            <th>삭제하기</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            {% include 'post/list_post_include/post_body.html' %}
            <td><a href="{% url 'post:update' object.id %}" class="btn btn-outline-info">U</a></td>
            <td><a href="{% url 'post:delete' object.id %}" class="btn btn-outline-danger">D</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
